
body{
    padding: 0;
    display: block;
    background-color: #BFD9D6;
}

.hideme{
    display: none;
}

#leftColumn{
    float: left;
    margin-right: 20px;
}

@media (max-width: 768px) {
    #leftColumn {
        display: none;
    }
    .hidecol{
        display: none;
    }
    .showrow{
        display: inline-block;
    }
    .hiderow{
        display: none;
    }
}

@media (min-width: 768px) {
    .showrow{
        display: none;
    }
}


#leftMenu, #loginBox, #registerBox{
    padding-bottom: 20px;

}

#centerColumn{
    float: left;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    margin: 10px 0px;
}

#footer{
    clear: both;
}

.menuCaption{
    padding: 3px;
    font-weight: bold;
}

.cartBox{
    padding: 5px 0 5px 0;
}

.showHidden{
    text-decoration: underline;
    color: indigo;
    cursor: pointer;
}

#registerBoxHidden{
    display: none;
}

a{
    color: #D94D1A;
    text-decoration: none;
}
a:hover{
    color: #F26D6D;
}
.card{
    margin: 10px;
    padding: 10px;
}

.btn{
    cursor: pointer;
    color: #eeeeee;
}





